@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;450;600;800&family=Space+Grotesk:wght@400;700;900&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-indigo-650: #4338ca;
  --color-indigo-750: #312e81;
  --color-indigo-505: #6366f1;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #0f172a;
}

h1, h2, h3, h4, .font-display {
  font-family: var(--font-display);
}
